.dropdown {
  display: inline-block;
  height: 250px;
  margin-right: 20px;
}

.dropdown__input {
  width: 450px;
}

.dropdown__list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 420px;
  max-height: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown__list_shown {
  display: block;
}

.list-item {
  opacity: 0.5;
  position: relative;
  height: 50px;
}

.list-item_selected {
  opacity: 1;
}

.list-item__photo {
  width: 40px;
  height: 40px;
}

.list-item__name {
  display: inline-block;
  margin-left: 5px;
  position: absolute;
  top: 25%;
  cursor: pointer;
}

.demo-container {
  position: relative;
  margin-bottom: 20px;
}

.demo-data-container {
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}

.demo-data-container__element {

}